<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>255951763239-fgssj04thnmq4uh2glt3b1psip87snsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255951763239-fgssj04thnmq4uh2glt3b1psip87snsm</string>
	<key>API_KEY</key>
	<string>AIzaSyCE2tmExuwELY_HoQj4tryHh_piecbYys0</string>
	<key>GCM_SENDER_ID</key>
	<string>255951763239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bozzy.SpotIt</string>
	<key>PROJECT_ID</key>
	<string>spot-it-app-b9b5c</string>
	<key>STORAGE_BUCKET</key>
	<string>spot-it-app-b9b5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:255951763239:ios:0f8cc870c1e3fb42</string>
	<key>DATABASE_URL</key>
	<string>https://spot-it-app-b9b5c.firebaseio.com</string>
</dict>
</plist>